*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body,html{
  width: 100%;
  height: 100%;
}
body{
  background-color: lightseagreen;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container{
  width: 300px;
  height: 450px;
  background-color: white;
  border-radius: 10px;
}
#container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#container i{
  color: #fff;
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0);
  opacity: 0;
  transition: all ease 0.4s;
}