*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body,html{
  width: 100%;
  height: 100%;
}

#main{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(146, 248, 146);
}

#panel{
  overflow: hidden;
  width: 80%;
  height: 80%;
  border-radius: 10px;
  background-color: #fff;
}

#ptop{
  display: flex;
  color: #fff;
  padding: 0px 30%;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: rgb(70, 93, 70);
}

.elem{
  display: flex;
  align-items: center;
  gap: 20px;
}

.elem h2{
  font-weight: 500;
  font-size: 22px;
}

.box{
  color: rgb(110, 182, 3);
  padding: 10px;
  font-weight: 600;
  font-size: 22px;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 5px;
}

#pbtm{
  display: flex;
  /* By default nowrap jisse ki sabhi 1 line mein rehte hai */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  gap: 10px;
  padding: 20px;
  width: 100%;
  height: calc(100% - 100px);
}

.bubble{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  background-color: rgb(70, 93, 70);
  border-radius: 50%;
}

.bubble:hover{
  cursor: pointer;
  background-color: rgb(1, 71, 1);
}