*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
}
body,html{
  height: 100%;
  width: 100%;
}
#main{
  width: 100%;
  height: 100%;
  background-color: black;
  justify-content: center;
  align-items: center;
  display: flex;
}
.cursor{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  transition: all linear 0.15s; 
  mix-blend-mode: difference;
}
h1{
  font-size: 9vw;
  font-weight: 900;
}